@model IEnumerable<CategoryBookViewModel>
@{
    ViewData["Title"] = "Category";
}

<section class="content">

    <div class="row narrow">
        <div class="col-full content-header">
            <h1>Category: Clasics</h1>
            <p class="lead">
                A biography (from the Greek words bios meaning "life",
                and graphos meaning "write") is an account of a person's life,
                usually published in the form of a book or essay, or in some other form, such as a film.
            </p>
        </div>
    </div>

    <div class="row top">

        <div class="col-full">
            <div class="block-m-full">
                @foreach (var book in Model)
                {
                    <article class="category-entry">
                        <a asp-action="Book" asp-controller="Home" class="category-thumb">
                            <img src="@book.CoverUrl" alt="">
                        </a>
                        <h3><a asp-action="Book" asp-controller="Home">@book.Title</a></h3>
                        <section class="category-meta">
                            <span class="category-author"><span>By</span> @book.Author</span>
                        </section>
                        <div class="category-entry-description">
                            <p>@book.Description</p>
                        </div>
                    </article>
                    <hr />
                }

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-full">
            <nav class="pagination">
                <ul>
                    <li><a class="page-prev" href="#0">Prev</a></li>
                    <li><a class="page-num current" href="#0">1</a></li>
                    <li><span class="page-num">2</span></li>
                    <li><a class="page-num" href="#0">3</a></li>
                    <li><a class="page-num" href="#0">4</a></li>
                    <li><a class="page-num" href="#0">5</a></li>
                    <li><span class="page-num dots">…</span></li>
                    <li><a class="page-num" href="#0">8</a></li>
                    <li><a class="page-next" href="#0">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section>