@model List<BooksIndexViewModel>
@{
    ViewData["Title"] = "All Books";
}

<section class="content">

    <div class="books-heading">
        <p>All Books</p>
    </div>
    <div class="row top">
        <div class="books-list">
            @Html.Partial("Book/_BooksPagePartial")
        </div>
    </div>

    <div class="row">
        <div class="col-full">
            <nav class="pagination">
                <ul>
                    <li><a class="page-prev">Prev</a></li>
                    <li><a class="page-num">1</a></li>
                    <li><a class="page-num">2</a></li>
                    <li><a class="page-num">3</a></li>
                    <li><a class="page-num">4</a></li>
                    <li><a class="page-num">5</a></li>
                    <li><span class="page-num dots">…</span></li>
                    <li><a class="page-num">8</a></li>
                    <li><a class="page-next">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section>