@model AllBooksViewModel
 

<section class="content">

    <div class="books-heading">
        <p>All Books</p>
    </div>
    <div class="row top">
        <div class="books-list">
            @Html.Partial("Book/_BooksPagePartial", Model.Books)
        </div>
    </div>

    <div class="row">
        <div class="col-full">
            <nav class="pagination">
                <ul>
                    @{
                        int pages = (int)Math.Ceiling(Model.BooksCount / 30.0);
                        for (int i = 1; i <= pages; i++)
                        {
                            <li><a class="page-num">@i</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>