
@{
    ViewData["Title"] = "All Books";
}

<section class="content">

    <div class="books-heading">
        <p>All Books</p>
    </div>
    <div class="row top">
        <div class="books-list">
            <article class="books-list-entry">
                <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
                    <img src="~/images/books/on_the_road_small.jpg" alt="">
                </a>
                <span><a asp-action="Book" asp-controller="Home">On the Road</a></span>
                <section class="books-list-meta">
                    <span class="books-list-author">By Duluoz Legend</span>
                </section>
            </article>
            <article class="books-list-entry">
                <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
                    <img src="~/images/articles/new_york-small.jpg" alt="">
                </a>
                <span><a asp-action="Book" asp-controller="Home">To New York and back</a></span>
                <section class="books-list-meta">
                    <span class="books-list-author">By Stefani Nikolova </span>
                </section>
            </article>
            <article class="books-list-entry">
                <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
                    <img src="~/images/magazines/leuropeo_small.jpg" alt="">
                </a>
                <span><a asp-action="Book" asp-controller="Home">L'Europeo</a></span>
                <section class="books-list-meta">
                    <span class="books-list-author">By Stefani Nikolova </span>
                </section>
            </article>
            <article class="books-list-entry">
                <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
                    <img src="~/images/magazines/inglobo_small.jpg" alt="">
                </a>
                <h3><a asp-action="Book" asp-controller="Home">Inglobo</a></h3>
                <section class="books-list-meta">
                    <span class="books-list-author">By Stefani Nikolova</span>
                </section>
            </article>
            <article class="books-list-entry">
                <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
                    <img src="~/images/art/basquiat-selft-portret-small.jpg" alt="">
                </a>
                <span><a asp-action="Book" asp-controller="Home">Jean-Michel Basquiat</a></span>
                <section class="books-list-meta">
                    <span class="books-list-author">By Unknown </span>
                </section>
            </article>
            <article class="books-list-entry">
                <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
                    <img src="~/images/articles/fashion-small.jpg" alt="">
                </a>
                <span><a asp-action="Book" asp-controller="Home">Fashion in Shanghai</a></span>
                <section class="books-list-meta">
                    <span class="books-list-author">By Stefani Nikolova</span>

                </section>
            </article>
            <article class="books-list-entry">
                <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
                    <img src="~/images/articles/fashion-small.jpg" alt="">
                </a>
                <span><a asp-action="Book" asp-controller="Home">Fashion in Shanghai</a></span>
                <section class="books-list-meta">
                    <span class="books-list-author">By Stefani Nikolova</span>

                </section>
            </article>
            <article class="books-list-entry">
                <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
                    <img src="~/images/articles/fashion-small.jpg" alt="">
                </a>
                <span><a asp-action="Book" asp-controller="Home">Fashion in Shanghai</a></span>
                <section class="books-list-meta">
                    <span class="books-list-author">By Stefani Nikolova</span>

                </section>
            </article>
        </div>
    </div>

    <div class="row">
        <div class="col-full">
            <nav class="pagination">
                <ul>
                    <li><a class="page-prev" href="#0">Prev</a></li>
                    <li><a class="page-num current" href="#0">1</a></li>
                    <li><span class="page-num">2</span></li>
                    <li><a class="page-num" href="#0">3</a></li>
                    <li><a class="page-num" href="#0">4</a></li>
                    <li><a class="page-num" href="#0">5</a></li>
                    <li><span class="page-num dots">…</span></li>
                    <li><a class="page-num" href="#0">8</a></li>
                    <li><a class="page-next" href="#0">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section>