@model UserBookViewModel

<article style="width:100px; margin:20px">
    <a asp-action="Book" asp-controller="Home" class="books-list-thumb">
        <img src="@Model.CoverUrl" alt="">
    </a>
    <section><a asp-action="Book" asp-controller="Home">@Model.Title</a></section>
    <section class="books-list-meta">
        <span class="books-list-author">By <i>@Model.Author</i></span>
    </section>
</article>