

<div class="user-books-wrapper">

    <div class="user-books-heading">
        <span>Hello, Bookworm!</span>
    </div>
    <div class="user-books-description">
        <p>
            Here you can keep track of your personal bookshelves.
            Keep exploring and tell us which are your favourite books!
        </p>
    </div>

    <nav class="user-vertical-nav">
        <ul>
            @*Create controller action for each partial view*@
            <li id="read" class="current"><a asp-controller="UserBooks" asp-action="Index">Read(12)</a></li>
            <li><a asp-controller="UserBooks" asp-action="Index">Currently reading(1)</a></li>
            <li><a asp-controller="UserBooks" asp-action="Index">Favourite(23)</a></li>
        </ul>
    </nav>
</div>