<div class="user-books-wrapper">
    <div class="user-books-description">
        <p>
            Here you can keep track of your personal bookshelves.<br/>
            Keep exploring and tell us which are your favourite books!
        </p>
    </div>

    <nav class="user-vertical-nav">
        <ul class="user-collections">
            <li><button id="toRead" onclick="toRead()" class="user-collections-btn">Want to read</button></li>
            <li><button id="currentlyReading" onclick="currentlyReading()" class="user-collections-btn">Currently reading</button></li>
            <li><button id="read" onclick="read()" class="user-collections-btn">Read</button></li>
        </ul>
    </nav>
    <div id="renderPartial" style="display:none"></div>
</div>

<script>
    const renderSection = $('#renderPartial');

    function read() {
        $(".user-collections-btn.current").removeClass("current");
        $.ajax({
            type: "POST",
            url: "/UserBooks/_UserBooksPartialListAsync",
            data: { statusEnum: 'Read' },
            success: (htmlData) => {
                renderSection.html(htmlData).fadeIn();
                $('#read').addClass("current");
            },
            error: (response) => {
                displayError('Error loading content');
            }
        })
       
    }

    function toRead() {
        $(".user-collections-btn.current").removeClass("current");
        $.ajax({
            type: "POST",
            url: "/UserBooks/_UserBooksPartialListAsync",
            data: { statusEnum: 'ToRead' },
            success: (htmlData) => {
                renderSection.html(htmlData).fadeIn();
                $('#toRead').addClass("current");
            },
            error: (response) => {
                displayError('Error loading content');
            }
        })
     
    }

    function currentlyReading() {
        $(".user-collections-btn.current").removeClass("current");
        $.ajax({
            type: "POST",
            url: "/UserBooks/_UserBooksPartialListAsync",
            data: { statusEnum: 'CurrentlyReading' },
            success: (htmlData) => {
                renderSection.html(htmlData).fadeIn();
                $('#currentlyReading').addClass("current");
            },
            error: (response) => {
                displayError('Error loading content');
            }
        })
       
    }

    (() => toRead())(); // Default is want to read
</script>