<div class="user-books-wrapper">

    <div class="user-books-heading">
        <span>Hello, Bookworm!</span>
    </div>
    <div class="user-books-description">
        <p>
            Here you can keep track of your personal bookshelves.
            Keep exploring and tell us which are your favourite books!
        </p>
    </div>

    <nav class="user-vertical-nav">
        <ul>
            <li><button id="read">Read</button></li>
            <li><button id="reading">Reading</button></li>
            <li><button id="favourite">Favourite</button></li>
        </ul>
    </nav>
    <div id="renderPartial" style="display:none"></div>
</div>

<script>
    const renderSection = $('#renderPartial');

    $('#read').on('click', readBooks);
    $('#reading').on('click', readingBooks);
    $('#favourite').on('click', favouriteBooks);

    function readBooks(e) {
        $.ajax({
            type: "POST",
            url: "/UserBooks/_UserBooksPartialListAsync",
            data: { statusEnum: 'Read' },
            success: (htmlData) => {
                renderSection.html(htmlData).fadeIn();
            },
            error: (response) => {
                displayError('Error loading content');
            }
        })
    }

    function readingBooks(e) {
        $.ajax({
            type: "POST",
            url: "/UserBooks/_UserBooksPartialListAsync",
            data: { statusEnum: 'ToRead' },
            success: (htmlData) => {
                renderSection.html(htmlData).fadeIn();
            },
            error: (response) => {
                displayError('Error loading content');
            }
        })
    }

    function favouriteBooks() {
        $.ajax({
            type: "POST",
            url: "/UserBooks/_UserBooksPartialListAsync",
            data: { statusEnum: 'Favourite' },
            success: (htmlData) => {
                renderSection.html(htmlData).fadeIn();
            },
            error: (response) => {
                displayError('Error loading content');
            }
        })
    }

    (() => readingBooks())(); // Default is reading books
</script>