@model List<LeaderboardViewModel>

@{
    ViewData["Title"] = "Leaderboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="books-heading">
    <p>Leaderboard</p>
</div>
<table class="user-books-table">
    <tr>
        <th>Picture</th>
        <th>Username</th>
        <th>Email</th>
        <th>Books Red</th>
    </tr>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><img src="@user.ProfilePictureUrl" style="object-fit:contain; border-radius: 10px;" src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"></td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.BooksRed</td>
            </tr>
        }
    </tbody>
</table>