@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
}


<div class="container-login">
    <div>
        <p>Login in your account!</p>
    </div>
    <form asp-controller="Account" asp-action="Login" method="post" class="login-form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label>
            <input asp-for="Username" class="form-control" placeholder="Username" />
        </label>
        <label>
            <input asp-for="Password" class="form-control" placeholder="Password" />
        </label>
        <div class="form-submit-btn">
            <button type="submit" class="submit btn--primary btn--medium full-width">
                Login
            </button>
        </div>
    </form>
    <p>
        <h4>Deciding what to read next? </h4>
        You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
    </p>
</div>
<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to log in.</h4>
        <hr />
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
