@model IEnumerable<SearchedBookViewModel>
@{
    ViewData["Title"] = "SearchResult";
}

<script>
    $('.search-form').hide();
     $().ready(function () {
         $('.search-form-page').on('click', '.search-btn.page', function (event) {

             var selectedFilter = $('[name=filerRadio]:checked').val();
             var searchString = $('.search-input.page').val();

             $.ajax({
                 type: 'GET',
                 url: '/Search/Index',
                    data: { filter: searchString, filerRadio: selectedFilter }
                });
         });

         $('.search-input.page').keypress(function (e) {
             if (e.which == 13) {
                 $('.search-btn.page').click();
             }
         });
        });

</script>
<section class="content">

    <div class="row narrow">
        <div class="col-full content-header">
            <h1>Search</h1>
        </div>
    </div>

    <div class="row top">

        <form class="search-form-page" asp-controller="Search" asp-action="Index">
            <input name="filter" class="search-input page" placeholder="Search Books" />
            <button type="button" class="search-btn page"><i class="fa fa-search"></i></button>
            <div class="serach-from-radio-buttons">
                <label> <input type="radio" name="filerRadio" value="title" checked />Title</label>
                <label> <input type="radio" name="filerRadio" value="author"/>Author</label>
                <label> <input type="radio" name="filerRadio" value="genre"/>Genre</label>
                <label> <input type="radio" name="filerRadio" value="tag"/>Tag</label>
            </div>       
        </form>


        <div class="col-full">
            <div class="block-m-full" id="paged-by-category">
                @Html.Partial("Book/_BookSearchResultPagePartial")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-full">
            <nav class="pagination">
                <ul>
                    <li><a class="page-prev">Prev</a></li>
                    <li><a class="page-num-category">1</a></li>
                    <li><a class="page-num-category">2</a></li>
                    <li><a class="page-num-category">3</a></li>
                    <li><a class="page-num-category">4</a></li>
                    <li><a class="page-num-category">5</a></li>
                    <li><span class="page-num dots">…</span></li>
                    <li><a class="page-num-category">8</a></li>
                    <li><a class="page-num-category">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section>
