@model IEnumerable<SearchedBookViewModel>
@{
    ViewData["Title"] = "SearchResult";
}

<script>
    $('.search-form').hide();
</script>
<section class="content">

    <div class="row narrow">
        <div class="col-full content-header">
            <h1>Search</h1>
        </div>
    </div>

    <div class="row top">

        <form class="search-form-page" asp-controller="Search" asp-action="Index">
            <input name="filter" class="search-input page" placeholder="Search Books" />
            <button type="submit" class="search-btn page"><i class="fa fa-search"></i></button>
            <div class="serach-from-radio-buttons">
                <input type="radio" name="filter" /> <label>Title</label>
                <input type="radio" name="filter" /><label>Author</label>
                <input type="radio" name="filter" /><label>Genre</label>
                <input type="radio" name="filter" /><label>Tag</label>
            </div>
           
        </form>


        <div class="col-full">
            <div class="block-m-full" id="paged-by-category">
                @Html.Partial("Book/_BookSearchResultPagePartial")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-full">
            <nav class="pagination">
                <ul>
                    <li><a class="page-prev">Prev</a></li>
                    <li><a class="page-num-category">1</a></li>
                    <li><a class="page-num-category">2</a></li>
                    <li><a class="page-num-category">3</a></li>
                    <li><a class="page-num-category">4</a></li>
                    <li><a class="page-num-category">5</a></li>
                    <li><span class="page-num dots">…</span></li>
                    <li><a class="page-num-category">8</a></li>
                    <li><a class="page-num-category">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section>
