<form class="search-form" asp-controller="Search" asp-action="Index">
    <label>
        <input name="search" class="search-input" placeholder="Search Books" />
        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </label>
</form>
