@{
    ViewData["Title"] = "Search";
}

<form class="searchForm" asp-controller="Search" asp-action="Index" style="margin:auto;max-width:300px;height:0px">
    <label>
        <input name="SearchedString" placeholder="Search by Title or Author" style="height:30px" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </label>
</form>
