@model AllBooksAdminViewModel
@{
    ViewData["Title"] = "AllBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="books-heading">
    <p>All Books</p>
</div>
<table class="user-books-table admin-books" style="width: 80%">
    <tr>
        <th>Cover</th>
        <th style="width: 25%">Title</th>
        <th>Author</th>
        <th>Isbn</th>
        <th>Publication Year</th>
        <th>Rating</th>
        <th>Actions</th>
    </tr>
    @await Html.PartialAsync("_BooksPagePartial");
</table>

<div class="row">
    <div class="col-full">
        <nav class="pagination">
            <ul>
                @{
                    int pages = (int)Math.Ceiling(Model.BooksCount / 30.0);
                    for (int i = 1; i <= pages; i++)
                    {
                        <li><a class="page-num-admin">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>

