@model BookSpace.Web.Models.GenreViewModels.GenreViewModel

@{
    ViewData["Title"] = "Create Genre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="books-heading">
    <p>Create Genre</p>
</div>
    <div class="user-form">
        <form asp-action="CreateGenre" class="user-form2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group user-form-input">
                <label asp-for="Name" class="control-label">Genre Name</label>
                <input asp-for="Name" class="form-control user-input-field" type="text" placeholder="Book Genre"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group user-form-input">
                <input type="submit" value="Create" class="btn btn-default  user-btn-pass" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


