@model BookSpace.Web.Areas.Admin.Models.ApplicationUserViewModels.ApplicationUserViewModel
@inject UserManager<ApplicationUser> appUser
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="books-heading">
    <p>Edit User <br /> @Model.Username</p>
</div>
<div class="user-form">
        <form asp-action="EditUser" class="user-form2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group user-form-input">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control user-input-field" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group user-form-input">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control  user-input-field" type="text" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group user-form-input">
                <label asp-for="ProfilePictureUrl" class="control-label"></label>
                <input asp-for="ProfilePictureUrl" class="form-control user-input-field" type="text" />
                <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group user-form-input">
                <div class="checkbox">
                    <label>
                        <input asp-for="isAdmin" /> @Html.DisplayNameFor(model => model.isAdmin)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default user-btn-pass" />
            </div>
        </form>
    </div>
