@model IEnumerable<GenreViewModel>

<a asp-area="" asp-controller="Book" asp-action="Index">Books</a>
<ul class="sub-menu">
    @foreach (var genre in Model.Take(15))
    {
        <li><a asp-area="" asp-controller="Book" asp-action="Category" asp-route-id="@genre.GenreId">@genre.Name</a></li>
    }
</ul>