
<footer class="footer">

    <div class="row">

        <div class="footer-links">

            <h4>Quick Links</h4>

            <ul class="footer-links-list">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Book" asp-action="Index">Books</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contacts</a></li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="footer-copyright">
            <span>© Copyright The Magnificent 2018</span>
        </div>
    </div>

</footer>
