<div class="pageheader">
    <header class="header">
        <div class="header-content row">
            <div class="header-logo">
                <a class="logo" a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Homepage">
                </a>
            </div>
            <a class="header-search-btn" href="#0"></a>
            <div class="header-search">
                <form role="search" method="get" class="header-search-form" action="#">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:">
                    </label>
                    <div class="form-submit-btn">
                        <button type="submit" class="submit btn--primary btn--large full-width">Search</button>
                    </div>
                </form>
                <a href="#0" title="Close Search" class="header-search-close">Close</a>
            </div>
            <!-- Same format for the register user form-->
            <a class="header-login-btn" href="#0"></a>
            <div class="header-login">
                <form role="log" method="get" class="header-login-form" action="#">
                    <label>
                        <span class="hide-content">Username:</span>
                        <input type="text" class="text-field" placeholder="Username" value="" name="username" title="Username">
                    </label>
                    <label>
                        <span class="hide-content">Password:</span>
                        <input type="password" class="password-field" placeholder="Password" value="" name="password" title="Password">
                    </label>
                    <div class="form-submit-btn">
                        <button type="submit" class="submit btn--primary btn--medium full-width"
                               asp-area="" asp-controller="Account" asp-action="Login">Login</button>
                        <button type="submit" class="submit btn--primary btn--medium full-width"
                               asp-area="" asp-controller="Account" asp-action="Register">Register</button>
                    </div>
                </form>
                <a href="#0" title="Close Login" class="header-login-close">Close</a>
            </div>
            <a class="header-toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
            <nav class="header-nav-wrappper">
                <ul class="header-nav">
                    <li class="current"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="has-children">
                        <a asp-area="" asp-controller="Home" asp-action="Category">Books</a>
                        <ul class="sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Biography</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Clasics</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Fiction</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">History</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Mystery</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Psychology</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">All</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a asp-area="" asp-controller="Home" asp-action="Category" title="">Magazines</a>
                        <ul class="sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Art</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Education</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Science</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Fashion</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">Others</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Category">All</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Category">Art</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>