@using Microsoft.AspNetCore.Identity
@using BookSpace.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="pageheader">
    <header class="header">
        <div class="header-content row">
            <div class="header-logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo" >
                    <img src="~/images/logo.png" alt="Homepage">
                </a>
            </div>

            <form class="search-form" asp-controller="Book" asp-action="Search">
                <input name="filter" class="search-input" placeholder="Search Books" />
                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
            </form>

            <nav class="header-nav-wrappper">
                <ul class="header-nav nav-guest">
                    <li class="current"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="has-children" id="genres-nav">
                        <a asp-area="" asp-controller="Book" asp-action="Index">Books</a>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="UserBooks" asp-action="Leaderboard">Leaderboard</a></li>
                </ul>

                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="header-nav nav-user">
                        <li><a asp-area="" asp-controller="UserBooks" asp-action="Index" class="nav-user">My Books</a></li>
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="Index" class="nav-user has-children">Hello, @User.Identity.Name!</a>
                            <ul class="sub-menu log-out">
                                <li><a asp-area="" asp-controller="Manage" asp-action="Index">Profile</a></li>
                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button class="logout-btn" type="submit">Log out</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

            </nav>
        </div>
    </header>
</div>
