@model KeyValuePair<string, decimal>

@{
    string divId = Regex.Replace(Model.Key, @"[^A-Z]+", String.Empty);
    <div class="stars-outer" id="@divId">
        <div class="stars-inner" id="@divId"></div>
    </div>
    <script>
        rating("@divId" , @Model.Value);
    </script>
}

