
@{
    ViewData["Title"] = "Single book";
}

<section class="content content--narrow content--no-padding-bottom">

    <article class="row format-standard">

        <div class="content-header col-full">
            <h1 class="content-header-title">
                L'Europeo
            </h1>
            <ul class="content-header-meta">
                <li class="date">April 1, 2018</li>
                <li class="cat">
                    In <a href="#0">Magazines, Stories</a>
                </li>
            </ul>
        </div>
        <div class="content-image col-full">
            <img src="~/images/magazines/leuropeo.jpg" alt="">
        </div>

        <div class="col-full content-main">

            <p class="lead">
                L'Europeo is described as independent, secular-oriented and liberal,
                and the most authoritative in its genre. It combined news,
                politics, arts, true crime stories and the world of entertainment.
            </p>


            <p>
                L'Europeo was a prominent Italian weekly news magazine launched on 4 November 1945,
                by the founder-editors Gianni Mazzocchi and Arrigo Benedetti.
                Camilla Cederna was also among the founders. The magazine stopped publication in 1995.
                The title returned to the news-stands in 2001 and 2002 as a quarterly,
                then as a bi-monthly from 2003 to 2007 and a monthly from 2008, until closure in 2013.
            </p>

            <p class="content-image">
                <img src="~/images/magazines/leuropeo-post-2.jpg" alt="">
            </p>

            <h2>Scoops</h2>

            <p>
                Focussing on news and current affairs, the magazine achieved some impressive scoops,
                one of the most memorable being Tommaso Besozzi's investigative report in July 1950
                on the mysterious death of the Sicilian bandit Salvatore Giuliano, which convincingly disproved
                official accounts of how the bandit had died.
                The now famous headline of the article read: "The only thing certain is that he is dead."
            </p>

            <blockquote>
                <p>L'Europeo had a circulation of 127,422 copies in 1984.</p>
            </blockquote>

            <p>
                Its decline started in the second half of the 1970s, when Tommaso Giglio left as chief editor in 1976.
                He wanted to compete with L’espresso and Panorama but the publisher was not willing to invest the necessary money.
                Due to falling sales during the late 1970s, the magazine changed to a small format in 1981.
            </p>

            <p class="content-tags">
                <span>Post Tags</span>
                <span class="content-tag-list">
                    <a href="#0">modern</a>
                    <a href="#0">stories</a>
                    <a href="#0">history</a>
                    <a href="#0">art</a>
                </span>
            </p>

            <div class="content-author">
                <img src="~/images/avatars/user-female.png" alt="">
                <h4> Stefani Nikolova</h4>
            </div>

        </div>

    </article>

    <div class="comments-wrapper">

        <div id="comments" class="row">
            <div class="col-full">
                <h3 class="h2">2 Comments</h3>

                <ol class="commentlist">

                    <li class=" comment">
                        <div class="comment-author">
                            <img width="50" height="50" class="avatar" src="~/images/avatars/user-male.png" alt="">
                        </div>

                        <div class="comment-content">

                            <div class="comment-info">
                                <cite>Unknown</cite>
                                <div class="comment-meta">
                                    <time class="comment-time">April 12, 2018 - 12:05</time>
                                </div>
                            </div>

                            <div class="comment-text">
                                <p>Sounds interesting! I will definately try it.</p>
                            </div>
                        </div>
                    </li>

                    <li class="comment">

                        <div class="comment-author">
                            <img width="50" height="50" class="avatar" src="~/images/avatars/user-female.png" alt="">
                        </div>
                        <div class="comment-content">
                            <div class="comment-info">
                                <cite>Rae Sremmurd</cite>

                                <div class="comment-meta">
                                    <time class="comment-time">April 13, 2018 - 19:24</time>
                                </div>
                            </div>
                            <div class="comment-text">
                                <p>This is my favourite magazine! I recommend it to everybody. </p>
                            </div>
                        </div>
                    </li>
                </ol>


                <div class="respond">
                    <h3 class="h2">Add Comment</h3>

                    <form name="contactForm" id="contactForm" method="post" action="">
                        <fieldset>
                            <div class="message form-field">
                                <textarea name="comment-message" id="comment-message" class="full-width" placeholder="Your Comment"></textarea>
                            </div>

                            <button type="submit" class="submit btn--primary btn--large full-width">Comment</button>

                        </fieldset>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

