@using Microsoft.AspNetCore.Identity
@using BookSpace.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="pageheader">
    <header class="header">
        <div class="header-content row">
            <div class="header-logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/images/logo.png" alt="Homepage">
                </a>
            </div>
            <form class="search-form" asp-area="" asp-controller="Book" asp-action="Search">
                <input name="filter" class="search-input" placeholder="Search Books" />
                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
            </form>

            <nav class="header-nav-wrappper">
                <ul class="header-nav nav-guest">
                    <li class="current"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="has-children">
                        <a asp-area="" asp-controller="Book" asp-action="Index">View</a>
                        <ul class="sub-menu">
                            <li><a asp-area="Admin" asp-controller="Admin" asp-action="AllUsers">All Users</a></li>
                            <li><a asp-area="Admin" asp-controller="Admin" asp-action="AllBooks">All Books</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a asp-area="" asp-controller="Book" asp-action="Index">Create</a>
                        <ul class="sub-menu">
                            <li><a asp-area="Admin" asp-controller="Admin" asp-action="CreateBook">Create Book</a></li>
                            <li><a asp-area="Admin" asp-controller="Admin" asp-action="CreateGenre">Create Genre</a></li>
                            <li><a asp-area="Admin" asp-controller="Admin" asp-action="CreateTag">Create Tag</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <ul class="header-nav nav-user">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-user has-children">Hello, @User.Identity.Name!</a>
                        <ul class="sub-menu log-out">
                            <li><a asp-area="" asp-controller="Manage" asp-action="Index">Profile</a></li>
                            <li>
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button class="logout-btn" type="submit">Log out</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>
