@model NewBookViewModel

<article class="col-block popular-entry">
    <a href="#0" class="popular-thumb">
        <img src="@Model.CoverUrl" alt="">
    </a>
    <h5><a href="#0">@Model.Title</a></h5>
    <section class="popular-meta">
        <span class="popular-author">By <i>@Model.Author</i></span>
    </section>
</article>